:3010 {
    log
    encode zstd gzip
    header {
        -Server
    }
    # Temporarily disable load balancing - send all traffic to server1
    # TODO: Implement proper sticky sessions for Socket.IO
    reverse_proxy server1:3010
}
